<div class="container">
  <mat-card>
    <button
        mat-raised-button
        class="add-btn"
        color="accent"
        (click)="addReader()"
      >
        Add Reader
      </button>
  
    <app-user-list *ngIf="readers" [tableData]="readers"></app-user-list>
  </mat-card>
</div>
