<div class="container">


  <div class="row">


    <mat-card style="width: 100%;">
      <button mat-icon-button (click)="navBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>

      <div class="rate-btn" *ngIf="user && user.role == 'reader'">


        <button mat-raised-button color="accent" (click)="return()" *ngIf="!assignedBook?.returned">
          Return Book
        </button>
      </div>
      <mat-card-header>
        <mat-card-title>{{ book?.name }}</mat-card-title>
        <mat-card-subtitle>{{ book?.category }}</mat-card-subtitle>
      </mat-card-header>


    </mat-card>

    <mat-card style="width: 40%;">
      <mat-card-title>Reviews & Comments</mat-card-title>

      <div class="review-list" *ngIf="reviews.length > 0">
        <div *ngFor="let review of reviews">

          <h3>
            {{review.user.fName}} {{review.user.lName}}
            {{review.start}}
            <star-rating value="0" totalstars="{{ review.start }}" checkedcolor="#197f2c" uncheckedcolor="#197f2c"
              size="22px" readonly="true" style="float: right;"></star-rating>

          </h3>
          <p>
            {{
        review.comment}}
          </p>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div *ngIf="reviews.length == 0">

        <p style="text-align: center;">No Reviews</p>
      </div>

      <mat-card-actions>
        <button mat-button style="width: 100%;" (click)="rate()">ADD</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
