.rate-btn {
  float: right;
  button{
    margin: 20px;
  }
}

mat-card-header {
  margin-top: 2%;
}


.row{
  display: flex;
}

mat-card {
  margin: 1%;
  // width: 100%;
}


.review-list {
  div {
    h3 {
      font-size: 18px;
      color: #7a32d8;
    }

    hr {
      height: 2px;
      border-width: 0;
      color: #e3e3e3;
      background-color: #e3e3e3;
    }
  }
}
