<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Libra Qatar</span>

  <div class="navbutton-row" *ngIf="isLoggedIn && role == 'admin'">
    <button
      class="nav-link"
      mat-button
      [routerLink]="['/books']"
      routerLinkActive="active"
    >
      Books
    </button>
    <button
      class="nav-link"
      mat-button
      [routerLink]="['/librarians']"
      routerLinkActive="active"
    >
      Librarians
    </button>
    <button
      class="nav-link"
      mat-button
      [routerLink]="['/readers']"
      routerLinkActive="active"
    >
      Readers
    </button>
  </div>

  <div class="navbutton-row" *ngIf="isLoggedIn">
    <button class="nav-link" mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
