<h1 mat-dialog-title>Assign Book</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <input
        type="text"
        placeholder="Search Readers"
        matInput
        [formControl]="userControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.email"
        >
          {{ option.email }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="dialog-btns">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="submit()">Assign</button>
</div>
