<h1 mat-dialog-title>Rate Book</h1>
<div mat-dialog-content>

  <star-rating  value="0"
  totalstars="{{ totalstar }}"
  checkedcolor="#197f2c"
  uncheckedcolor="#999999"
  size="44px"
  readonly="false"
  style="text-align: center;"
  (rate)="onRate($event)"></star-rating>


  <mat-form-field appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea matInput [(ngModel)]="comment"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-btns">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="submit()">Submit</button>
</div>
