<div class="container">
  <mat-card>
    <button mat-raised-button class="add-btn" color="accent" (click)="addBook()" *ngIf="user.role=='admin'">
      Create Book
    </button>

    <app-books-list></app-books-list>
  </mat-card>
</div>
