<h1 mat-dialog-title>
  {{ data.edit ? "Update" : "Create" }}
  {{ data.role == "librarian" ? "Librarian" : "Reader" }}
</h1>

<div mat-dialog-content>
  <form [formGroup]="createUserForm">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="fName" cdkFocusInitial />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="dialog-btns">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="submit()">
    {{ data.edit ? "Update" : "Create" }}
  </button>
</div>
