<div class="container">
  <mat-card>
    <button mat-raised-button class="add-btn" color="accent" (click)="addLibrarian()">
      Add Librarian
    </button>

    <app-user-list *ngIf="librarians" [tableData]="librarians"></app-user-list>
  </mat-card>
</div>
