<h1 mat-dialog-title>Assigned Users</h1>


<div mat-dialog-content>


  <div class="">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="book">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Book</th>
        <td mat-cell *matCellDef="let row">
          {{row.book.name}}

        </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
        <td mat-cell *matCellDef="let row">{{ row.userId }}</td>
      </ng-container>

   

      <ng-container matColumnDef="returned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Returned</th>
        <td mat-cell *matCellDef="let row">{{ row.returned ? row.returned ? "Returned" : "Not Returned" : "Not Returned" }}</td>
      </ng-container>



      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
           
            <button mat-menu-item  (click)="unassign(row)">
              <span>Unassign</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
  </div>



</div>

<div mat-dialog-actions class="dialog-btns">

  <button mat-button color="primary">Ok</button>
</div>
