<h1 mat-dialog-title>{{ data.edit ? "Update" : "Create" }} Book</h1>

<div mat-dialog-content>
  <form [formGroup]="createBookForm">
    <mat-form-field appearance="outline">
      <mat-label>Book Name</mat-label>
      <input matInput formControlName="name" cdkFocusInitial />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <input matInput formControlName="category" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" />
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Publish Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="publishDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker  #picker></mat-datepicker>
    </mat-form-field> -->
  </form>
</div>
<div mat-dialog-actions class="dialog-btns">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="submit()">
    {{ data.edit ? "Update" : "Create" }}
  </button>
</div>
