<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. J.k Rowling ..." #input />
</mat-form-field>

<div class="">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
      <td mat-cell *matCellDef="let row">{{ row.author }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let row">{{ row.category }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="publishDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Publish Date</th>
      <td mat-cell *matCellDef="let row">{{ row.publishDate }}</td>
    </ng-container> -->

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngIf="user.role=='admin'">
            <button mat-menu-item (click)="viewBookDetail(row)">
              <span>View</span>
            </button>
            <button mat-menu-item (click)="edit(row)">
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="assignBook(row)">
              <span>Assign Book</span>
            </button>

            <button mat-menu-item (click)="assignedUsers(row)">
              <span>Assigned User List</span>
            </button>
            <button mat-menu-item (click)="deleteBook(row)" color="danger">
              <span>Delete</span>
            </button>
          </div>

          <div *ngIf="user.role=='reader'">
           
            <button mat-menu-item (click)="checkoutBook(row)">
              <span>Checkout Book</span>
            </button>
          </div>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
</div>
