.book-card {
  width: 20%;
  height: 200px;
    margin: 1%;
    padding:20px;

    mat-card-title{
      font-size: 20px;
    }

    .bottom{
      position: absolute;
      top: 80%;
      left: 80%;
    }
}

.book-list {
  margin: 2%;
  // margin-top: 5%;


}

.book-list{
  display: flex;
}

.row{
  display: flex;
  justify-content: space-between;
}