<div class="container">
  <div class="row">
    <div>
      <mat-card-title>{{user?.fName | titlecase}}</mat-card-title>

      <h2>Assigned Book List</h2>
    </div>
    <div>
      <button mat-raised-button color="primary" [routerLink]="['/books']" routerLinkActive="router-link-active" >Books</button>
    </div>
  </div>
  <div class="book-list">
    <mat-card class="book-card" *ngFor="let item of bookList">
      <mat-card-content>
        <mat-card-title>{{ item?.book?.name }}</mat-card-title>
        <mat-card-subtitle>{{ item?.book?.category }}</mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions class="bottom">

        <button mat-button color="primary" (click)="navBookDetail(item)">View</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
