<div class="container">
  <mat-card class="login-card">
    <mat-card-title> Register </mat-card-title>
    <div>
      <form [formGroup]="createUserForm">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="fName" cdkFocusInitial />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </form>
    </div>

    <div class="btn-container">
      <button mat-raised-button color="primary" [disabled]="!createUserForm.valid || loading" class="login-btn" (click)="create()">
        Create
      </button>
    </div>
  </mat-card>


</div>
