<div class="container">
  <mat-card class="login-card">
    <mat-card-title> Login </mat-card-title>

    <img class="logo" src="assets/images/logo.svg" alt="" />
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input
            type="email"
            autocomplete="false"
            matInput
            formControlName="email"
            placeholder="Email Address"
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            autocomplete="false"
            matInput
            formControlName="password"
            placeholder="Password"
          />
        </mat-form-field>

        <div class="btn-container">
          <button
            mat-raised-button
            class="login-btn"
            color="primary"
            (click)="login()"
          >
            Login
          </button>
        </div>
      </form>

      <div class="btn-container">
        <button
          mat-button
          class="register-btn"
          color="primary"
          (click)="register()"
        >
          Register
        </button>
      </div>
    </div>
  </mat-card>
</div>
