
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$libra-app-primary: mat-palette($mat-red);
$libra-app-accent:  mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$libra-app-warn:    mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$libra-app-theme: mat-light-theme((
  color: (
    primary: $libra-app-primary,
    accent: $libra-app-accent,
    warn: $libra-app-warn,  
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($libra-app-theme);




html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.bold{
  font-weight: 700;
}

mat-card {
  border-radius: 12px !important;
}
.container {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
mat-form-field {
  width: 100%;
}

.nav-link {
  color: #e3e3e3;
}

.active {
  color: #fff;
}

table {
  width: 100%;
}

td,
th {
  width: 25%;
}

.add-btn {
  float: right;
}

button{
  border-radius: 8px !important;
}

.dialog-btns {
  float: right;
}


::ng-deep .mat-datepicker-content .mat-calendar
{ 
     zoom: 0.85;
}

.login-card {
  width: 30%;
  margin: auto;
  border-radius: 12px;
  mat-card-title {
    margin-top: 2%;
    text-align: center;
  }
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .login-btn {
   
    width: 50%;
    height: 50px;
  }
}
.logo {
  height: 150px;
  margin: auto;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}